<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"> </header>
<body>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<ul class="list-group">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">ID</label> <label
							class="col-sm-6 col-form-label " th:text="${empresa.id}"></label>
					</div>

					<div class="form-group row ">
						<label class="col-sm-2 col-form-label">NOMBRE</label> <label
							class="col-sm-6 col-form-label " th:text="${empresa.nombre}"></label>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">DIRECCION</label> <label
							class="col-sm-6 col-form-label " th:text="${empresa.direccion}"></label>
					</div>

				</ul>
			</div>
		</div>
		<h4 class="card-title py-2">
			<a th:href="@{#}" class="btn btn-primary btn-xs">Crear
				Declaracion</a>
		</h4>

		<table class="table table-striped  border-top-0">
			<tbody>
				<tr>
					<td>ID</td>
					<td>DESCRIPCION</td>
					<td>FECHA INICIAL</td>
					<td>FECHA FINAL</td>
					<td>REGISTRA COMPRA</td>
					<td>REGISTRA VENTA</td>
					<td>ELIMINAR</td>
				</tr>
			</tbody>
			<thead>
				<tr th:each="declara: ${declaracion}">
					<td th:text="${declara.id}"></td>
					<td th:text="${declara.descripcion}"></td>
					<td th:text="${declara.id}"></td>
					<td th:text="${declara.id}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="#"
						th:text="'Registra Compras'"></a></td>
					<td><a class="btn btn-primary btn-xs" th:href="#"
						th:text="'Registra Ventas'"></a></td> td>
					<a class="btn btn-danger btn-xs" th:href="#" th:text="'eliminar'"></a>
					</td>
				</tr>
			</thead>
		</table>

	</div>

</body>

<footer th:replace="layout/layout :: footer"></footer>

</html>